#bannerarea{
		width:1000px;
		height:75px;
		background:#5C604D;
		margin:0;
		
	}
	#textarea{
		width:960px;
		height:700px;
		background:#F20056;
		margin:0;
	    padding:0 20px;
		
	}
       
	.box{
		width:200px;
		height:150px;
		background:#000;
		margin:15px;
		float:left;
        border:solid 5px #000;
	}
        .box:hover{
            border:solid 5px #FFF;
        }
        .box img{
            
            opacity: 0.7;
        }
        .box img:hover{
            
            opacity: 1;
        }